/Exercise 3/nbproject/private/
/Exercise 3/build/
/Exercise 4/nbproject/private/
/Exercise 4/build/
/Exercise 5/nbproject/private/
/Exercise 5/build/
/DiceTally/nbproject/private/
/DiceTally/build/
/Exercise5/nbproject/private/
/Exercise5/build/
/Exercise 6/nbproject/private/
/Exercise 6/build/
/JavaApplication37/nbproject/private/
/JavaApplication38/nbproject/private/
/DiceTally2/build/
/DiceTally2/nbproject/private/
/DiceTally3/nbproject/private/